aniso8601==3.0.2
Click==7.0
Flask==1.0.2
Flask-Cors==3.0.6
flask-restplus==0.12.1
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.0
pytz==2018.5
six==1.11.0
uWSGI==2.0.17.1
Werkzeug==0.14.1
